comparisonmarks/src/main/mule/comparisonmarks.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3c9d2828-b9c2-4ac4-a41f-f36d97fc1c33" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="comparisonmarksFlow" doc:id="8c97a5ae-f0bd-49f5-a3dd-967af207b0c9" >
		<http:listener doc:name="Listener" doc:id="0e4956f7-07e1-4e53-b2c5-77daf1deeb47" config-ref="HTTP_Listener_config" path="/Comparison"/>
		<set-variable value='#[{
	"employee": [{
			"id": "A007",
			"first_name": "Jan",
			"last_name": "Doe"
		},
		{
			"id": "A008",
			"first_name": "Ron",
			"last_name": "David"
		},
		{
			"id": "A009",
			"first_name": "Jane",
			"last_name": "Kane"
		},
		{
			"id": "A010",
			"first_name": "Marsh",
			"last_name": "Megan"
		},
		{
			"id": "A011",
			"first_name": "Kelly",
			"last_name": "Mitch"
		},
		{
			"id": "A012",
			"first_name": "Chris",
			"last_name": "Vaste"
		}
	]
}]' doc:name="Set Variable" doc:id="4f6fec47-ab36-4629-bf5f-acc288445d40" variableName="records"/>
		<foreach doc:name="For Each" doc:id="50c84058-6d96-4724-965c-a20f97aef6f2" collection="#[vars.records]">
			<ee:transform doc:name="Transform Message" doc:id="da987887-1922-47d3-8b95-c1fcca91e277">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml

var payload2 = 
{"scoreBoard":[{"id":"A007","subjects":["Maths","English","Arts","Drawimgs"],
"score":[80,75,89,100]},
{"id":"A008","subjects":["Maths","English","Arts","Drawimgs"],"score":[70,85,69,90]},
{"id":"A021","subjects":["Maths","English","Arts","Drawimgs"],"score":[90,87,77,95]}]}

var ID= "A007" 
---


      
/*{
    "Scoreboard": payload.employee[0]++ payload2.scoreBoard[0]
}*/

/*payload.employee.id[0]*/
/*payload2.scoreBoard.id[0]*/
if (payload.employee.id[0]== payload2.scoreBoard.id[0])
{
    "Scoreboard": payload.employee[0]++ payload2.scoreBoard[0]
}
else
"Cannot Find the Record...."


]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="c0503855-a95e-4da4-a296-a3a2d7e28a4d" message="#[payload]"/>
		</foreach>
		<set-payload value="Proceeded" doc:name="Set Payload" doc:id="f369f2e0-1ede-4514-8fcc-f553735ef0ad" />
	</flow>
</mule>
