x-api-code_challenge_api/src/main/mule/NaturalNumber_Parameter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="aaba6a28-8af2-45f2-ad5d-752fe73b3cbd" basePath="/numbers">
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="naturalnumberFlow" doc:id="5b4b474e-861b-406b-b853-89e76c4ad75c" >
		<http:listener doc:name="Listener" doc:id="3c622390-dfec-403e-8986-4770c5d187f0" path="/{Number}" config-ref="HTTP_Listener_config"/>
		<set-variable doc:name="Set Variable" doc:id="502ba61c-03e1-4d79-b35a-5ba42958d127" variableName="NaturalNumber" value="#[attributes.uriParams.Number default 10]"/>
		<ee:transform doc:name="Transform Message" doc:id="1b9bf5a7-b0d6-4ae6-afa9-b70a5893a9df" >
			<ee:message >
				<ee:set-payload ><![CDATA[
%dw 2.0 
output application/json
fun prepareList(list:Array, maxSize: Number) = if(sizeOf(list) >= maxSize )
list
else
prepareList(list ++ [(sizeOf(list) + 1) as Number],maxSize)
---
prepareList([],vars.NaturalNumber)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
