databaseconfig/src/main/mule/databaseconfig.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6bf74bd2-a34b-417a-9dbe-316490a524a6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="7c121961-32ff-435d-b2a1-70ea0736937f" >
		<db:my-sql-connection host="mudb.mulesoft-training.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="databaseconfigFlow" doc:id="4d90b668-6ead-4f95-bd92-68a229b9d67e" >
		<http:listener doc:name="Listener" doc:id="fbd8ca7a-e073-4611-806d-1af7c3217d3b" config-ref="HTTP_Listener_config" path="/path"/>
		<db:select doc:name="Select" doc:id="5dd7c81b-f46f-4b51-a9eb-a91bee10c436" config-ref="Database_Config">
			<db:sql >Select *  From american 
WHERE toAirport: = : toAirport</db:sql>
			<db:input-parameters ><![CDATA[#[{toAirport:attributes.queryParams.toAirport}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="6a88ddd2-53af-404b-a504-cfc34972249d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

 payload 
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
