mevido12/src/main/mule/mevido12.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="6e8dd991-1a0b-41c2-91f5-87daf77d4658" >
		<file:connection workingDir="C:\filess" />
	</file:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bb1386f3-9246-4514-88a4-946a0b8d6ee4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mevido12Flow" doc:id="df55379b-8432-4d20-aa1e-25ce51da5682" >
		<file:listener doc:name="On New or Updated File" doc:id="70eb131d-abd7-47d9-8842-6ded934203e8" config-ref="File_Config" directory="input" moveToDirectory="C:\files\moved" renameTo="#[attributes.fileName ++  '.bacfup']">
			<scheduling-strategy >
				<fixed-frequency timeUnit="DAYS"/>
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="4e4fe519-f6d9-4c7a-8164-44aa494221c8" />
	</flow>
</mule>
