sql/src/main/mule/sql.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="64e1c5e8-7003-46e5-b21c-a20453bc9197" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sqlFlow" doc:id="4d10b3a3-d77e-4ab3-9a88-2d5ff4b0a4be" >
		<http:listener doc:name="Listener" doc:id="5fb73221-0d6a-47a9-9eb1-72714527cb15" config-ref="HTTP_Listener_config" path="/he"/>
		<logger level="INFO" doc:name="Logger" doc:id="5147ed0c-4dba-4c17-b088-48272bd1f5a2" message="#[payload]"/>
	</flow>
</mule>
